include README LICENSE CHANGES setup.py
recursive-include lib/hughml *.py
recursive-include lib3/hughml *.py
recursive-include examples *.py *.cfg *.hughml
recursive-include tests/data *
recursive-include tests/lib *.py
recursive-include tests/lib3 *.py
